body {
  margin: 0;
  padding: 0;
  background-image: url("https://wallpaper.forfun.com/fetch/f1/f1200ab83c29675dbe52b6213b5636e8.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: brightness(35%);
  font-family: 'Georgia', serif;
  color: rgb(255,255,255);
  min-height: 100vh;
}
.header__inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  padding: 20px;
  gap: 20px;
  height: 75px;
}
.foto {
  width: 100px;
  border-radius: 10px;
}
.header__inicio--titulo {
  font-size: 2.5rem;
  letter-spacing: 3px;
}

.combate-columnas {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  margin-top: 40px;
}

.combatiente {
  width: 40%;
  text-align: center;
}

.combatiente__nombre {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.combatiente__barra {
  width: 100%;
  height: 22px;
  background: rgba(80,0,0,0.5);
  border: 2px solid rgb(197,164,109);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.combatiente__relleno {
  height: 100%;
  background: linear-gradient(90deg, rgb(180,0,0), rgb(255,42,42));
  transition: width 0.4s ease-in-out;
}

.combatiente__relleno--full {
  width: 100%;
}

.combatiente__relleno--mitad {
  width: 50%;
}

.combatiente__img {
  width: 100%;
  height: 500px;
  border-radius: 15px;
  border: 2px solid rgb(197,164,109);
  object-fit: cover;
  margin-bottom: 20px;
}

.narracion {
  width: 60%;
  margin: 20px auto;
  background: rgba(0,0,0,0.75);
  padding: 25px;
  border: 2px solid rgb(197,164,109);
  border-radius: 10px;
}

.narracion h2 {
  color: rgb(255,204,102);
  text-align: center;
}

.botones-centro {
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.btn {
  padding: 12px 30px;
  text-decoration: none;
  color: rgb(255,255,255);
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid rgb(197,164,109);
  transition: 0.3s;
  display: inline-block;
}

.btn--atacar {
  background: rgb(122,31,31);
}

.btn--atacar:hover {
  background: rgb(143,32,32);
  transform: scale(1.1);
}
