body {
  margin: 0;
  padding: 0;
  background-image: url("https://preview.redd.it/some-game-of-thrones-wallpapers-i-found-v0-n1wbmdx1q4m91.jpg?width=1080&crop=smart&auto=webp&s=96a7e75f27a32cfa96dcdd1e30ce8f9374468046");
  background-size: cover;
  backdrop-filter: brightness(35%);
  font-family: 'Georgia', serif;
  color: rgb(255,255,255);
  min-height: 100vh;
}

.header__inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  padding: 20px;
  gap: 20px;
  height: 75px;
}
.foto {
  width: 100px;
  border-radius: 10px;
}
.header__inicio--titulo {
  font-size: 2.5rem;
  letter-spacing: 3px;
}

.combate-final {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
  padding: 0 40px;
}

.combatiente {
  width: 40%;
  text-align: center;
}

.combatiente__nombre {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.combatiente__barra {
  width: 100%;
  height: 22px;
  background: rgba(80,0,0,0.5);
  border: 2px solid rgb(197,164,109);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.combatiente__relleno {
  height: 100%;
  background: linear-gradient(90deg, rgb(180,0,0), rgb(255,42,42));
}

.combatiente__relleno--jon {
  width: 45%;
}

.combatiente__relleno--jaime {
  width: 0%;
}

.combatiente__img {
  width: 100%;
  height: 400px;
  border-radius: 12px;
  border: 2px solid rgb(197,164,109);
  object-fit: cover;
  margin-bottom: 20px;
}

.escena {
  width: 70%;
  margin: 40px auto;
  background: rgba(10,10,10,0.85);
  padding: 30px;
  border-radius: 20px;
  border: 3px solid rgb(168,139,84);
  text-align: center;
}

.escena__texto {
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.escena__destacado {
  font-weight: bold;
}

.acciones {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.btn {
  padding: 18px 35px;
  text-decoration: none;
  color: rgb(255,255,255);
  border-radius: 12px;
  font-size: 22px;
  font-weight: bold;
  border: 3px solid rgb(197,164,109);
  transition: 0.3s;
  text-align: center;
}

.btn--atacar {
  background: rgb(122,31,31);
}

.btn--atacar:hover {
  background: rgb(156,39,39);
  transform: scale(1.08);
}
