body{
    margin: 0;
    background-image: url("https://fotografias.antena3.com/clipping/cmsimages01/2015/11/09/A26E9373-6C8C-420F-971A-27C72B88934F/98.jpg?crop=1024,576,x0,y57&width=1900&height=1069&optimize=high&format=webply");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(40%);
    height: 100vh;
}

.header__inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  padding: 20px;
  gap: 20px;
  height: 75px;
}
.foto {
  width: 100px;
  border-radius: 10px;
}
.header__inicio--titulo {
  font-size: 40px;
}
.opciones {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 30px;
}

.tarjeta {
  width: 330px;
  background: rgb(0, 0, 0);
  color: white;
  border-radius: 18px;
  overflow: hidden;
  border: 2px solid #00ffff;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 223, 253, 0.7);
}

.tarjeta img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.tarjeta h2 {
  text-align: center;
  margin: 15px 0 5px;
  font-size: 24px;
}

.tarjeta p {
  text-align: center;
  margin: 0 15px 20px;
  opacity: 0.9;
}

.btn {
  display: block;
  background: #3c6ed8;
  color: white;
  text-align: center;
  padding: 12px;
  margin: 0 40px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s, transform 0.3s;
}

.btn:hover {
  background: #0888ba;
  transform: translateY(-5px);
}