body{
    margin: 0;
    background-image: url("https://lossietereinos.com/wp-content/uploads/2019/05/juego-de-tronos-drogon-desembarco.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: "Book Antiqua", "Palatino Linotype", Palatino, serif ;
}
.inicio__fondo{
    height:100vh ;
}
.header__inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  padding: 20px;
  gap: 20px;
  height: 75px;
}
.foto {
  width: 100px;
  border-radius: 10px;
}
.header__inicio--titulo {
  letter-spacing: 3px;
  font-size: 50px;
}
.box__principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box__principal--imagenes{
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 200px);
  gap: 30px;
  background-color: rgba(0, 0, 0, 0.699);
  padding: 20px;
  border-radius: 20px;
  border:3px solid orangered;
  box-shadow:0 0 20px orangered;
}
.img1{
  grid-area: 1/1/2/2;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.img2 {
  grid-area: 1/2/2/3;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.img3{
  grid-area: 2/1/3/2;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.img4{
  grid-area: 2/2/3/3;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.box__principal--final{
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  border-radius: 20px;
  font-size: 30px;
  
}

.reinicio__texto{ 
  display: flex;
 justify-content: center;
 align-items: center;
  text-decoration: none;
  font-size: 30px;
  color: red;
 margin-top: 15px;
 height: 108px;
 transition: background-color 0.3s ease, transform 0.5s ease;
 text-shadow: 1px 1px 2px black;
}
.reinicio__texto:hover{
   transform: translateY(-5px);
}
.box__principal--texto2{
    text-shadow: 1px 1px 2px black;
}
