body{
    margin: 0;
    background-image: url("https://images.pexels.com/photos/1558916/pexels-photo-1558916.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(40%);
    height: 100%;
}
.inicio__fondo{
    height: 100vh;
}
.header__inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  padding: 20px;
  gap: 20px;
  height: 75px;
}
.foto {
  width: 100px;
  border-radius: 10px;
}
.header__inicio--titulo {
  letter-spacing: 3px;
  font-size: 50px;
}
.contenido__pagina--titulo{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 65px;
}
.contenido__pagina--imagen{
    width: 1000px;
    height: 600px;
}
.contenido__pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.opciones__grid{
  display: grid;
  grid-template-columns: repeat(2,400px);
  grid-template-rows: repeat(2,200px);
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.opciones__grid--color {
  color: red;
  font-size: 50px;
}
.opcion{
  grid-area: 1/1/2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border:8px solid red ;
  border-radius: 20px;
}
.opcion1{
  grid-area: 2/1/3/2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.5s ease;
  border: 5px solid orange;
  font-size: 35px;
  cursor: pointer;
  background-color: rgb(120, 16, 16);
  border-radius: 20px;
  text-decoration: none;
  border-color: orange;
  padding: 20px;
}
.opcion2{
  grid-area: 2/2/3/3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.5s ease;
  font-size: 35px;
  cursor: pointer;
  background-color: rgb(120, 16, 16);
  border-radius: 20px;
  border: 5px solid orange;
  padding: 20px;
}
.texto{
  text-decoration: none;
  color: green;
}
.opcion1:hover{
  background-color: rgb(193, 2, 2);
  transform: translateY(-5px);
  
}
.opcion2:hover{
  background-color: rgb(193, 2, 2);
  transform: translateY(-5px);
}