body {
  font-family: 'Georgia', serif;
  background: url(https://i0.wp.com/xn--lacompaialibredebraavos-yhc.com/wp-content/uploads/2017/12/game-of-thrones-red-keep-cr-hbo.jpg?fit=1024%2C768&ssl=1) no-repeat center center fixed;
  background-size: cover;
  color: #f5e1a4;
  margin: 0;
  padding: 0;
}

.header__inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  padding: 20px;
  gap: 20px;
  height: 75px;
}
.foto {
  width: 100px;
  border-radius: 10px;
}
.header__inicio--titulo {
  font-size: 2.5rem;
  letter-spacing: 3px;
}

.camino {
  display: flex;
  justify-content: center;
}

.camino__tarjetas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 30px 40px;
  width: 1000px;
  justify-items: center;
}

.tarjeta {
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #f5e1a4;
}

.tarjeta__img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.tarjeta__titulo {
  color: #f5e1a4;
  margin-bottom: 8px;
  font-size: 1.3rem;
  
}

.tarjeta__texto {
  font-size: 0.95rem;
  line-height: 1.4;
  color: #f5e1a4;
}

.acciones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}

.acciones__btn {
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  color: #f5e1a4;
  font-weight: bold;
  font-size: 0.95rem;
  background-color: #333;
  transition: transform 0.2s, background-color 0.2s, color 0.2s;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.acciones__btn:hover {
  transform: scale(1.05);
  background-color: #f5e1a4;
  color: #000;
}

.acciones__texto {
  font-size: 1rem;
  font-weight: bold;
  color: #f5e1a4;
}
