.inicio__fondo{
    background-image: url("https://images.pexels.com/photos/2083177/pexels-photo-2083177.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header__inicio{
    display: flex; 
    align-items: center;
    background-color: black;
    width: 100%;
    height: 150px;
    justify-content: space-between;
}
.foto{
    height: 150px;
    width: 200px;
}
.header__inicio--titulo{
    color: white;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.distribuir__espacio{
    display: flex;
}
.texto__introducción{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 36, 4);
    color: black;
    width: 220px;
    height: 300px;
    padding: 50px;
}
.mapa{
    height: 450px;
    padding: 20px 20px 20px 0px;
}