body{
    margin: 0;
    background-image: url("https://images.pexels.com/photos/1558916/pexels-photo-1558916.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(40%);
    height: 100%;
}
.inicio__fondo{
    height: 100vh;
}
.header__inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  padding: 20px;
  gap: 20px;
  height: 75px;
}
.foto {
  width: 100px;
  border-radius: 10px;
}
.header__inicio--titulo {
  letter-spacing: 3px;
  font-size: 50px;
}
.contenido__pagina--titulo{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 65px;
}
.contenido__pagina--imagen{
    width: 1000px;
    height: 600px;
}
.contenido__pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
